{% extends "base.html" %}
{% block content %}
<section class="index">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 text-left">
                <a href="javascript:window.history.go(-1)">Back</a> <!-- Displayed on top of a potentially large JSON response, so it will remain visible -->
                <h1>Result of the downstream API Call</h1>
                <pre>{{ result |tojson(indent=4) }}</pre> <!-- Just a generic json viewer -->
                <br>
                <pre>{{user_info |tojson(indent=4) }}</pre>
            </div>
        </div>
    </div>
  </section>
{% endblock %}