<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File List</title>
</head>
<body>
    <a href="javascript:window.history.go(-1)">Back</a>
	<h1>ファイルリスト</h1>
    <ul>
    {% for file in files %}
        <li>
            {{ file.name }}-{{ file.id }} - <a href="{{ url_for('file_control.download_file', file_id=file.id, file_name=file.name) }}">ダウンロード</a>
        </li>
    {% endfor %}
    </ul>
	<h1>フォルダのリスト</h1>
    <ul>
    {% for folder in folders %}
        <li>
            {{ folder.name }}-{{ folder.id }} - <a href="{{ url_for('file_control.list_files', folder_id=folder.id) }}">内容</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('file_control.upload') }}">アップロードページに戻る</a>
</body>
</html>