<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>フォルダ作成</title>
</head>
<body>
	<h1>ファイルアップロード</h1>
    <h2>フォルダ作成</h2>
    <form method="post" action="{{ url_for('create_folder') }}">
        <label for="folder_name">フォルダ名:</label>
        <input type="text" name="folder_name" id="folder_name" required>
        <input type="submit" value="フォルダ作成">
    </form>
    
    <a href="{{ url_for('list_files') }}">ファイルリストを見る</a>
</body>
</html>