{% extends "base.html" %}
{% block content %}
<section class="login">
  <div class="container my-5">
      <div class="low">
          <div class="col-lg-4 text-left">
            <h4>下記をクリックして Sign In してください</h4>
                  {% if user_code %}
                  <ol>
                    <li>To sign in, type <b>{{ user_code }}</b> into
                      <a href='{{ auth_uri }}' target=_blank>{{ auth_uri }}</a>
                      to authenticate.
                    </li>
                    <li>And then <a href="{{ url_for('auth_response') }}">proceed</a>.</li>
                  </ol>
                  {% else %}
                  <ul><li><a class="text-xl-start fs-5" href='{{ auth_uri }}'>>>Sign In</a></li></ul>
                  {% endif %}

          </div>
      </div>
  </div>
</section>
{% endblock %}

