<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
  <a href="javascript:window.history.go(-1)">Back</a>
    <h1>Welcome, {{ username }}!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
	<a href="{{ url_for('list_files') }}">ファイルリストを見る</a>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>
